.cart-items-container::-webkit-scrollbar {
    width: 6px;
}
.cart-items-container::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}
.cart-items-container::-webkit-scrollbar-thumb:hover {
    background: #999;
}
