<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/user/layout}">
<head>
    <title>Liên hệ - WomTech</title>
    <th:block layout:fragment="css">
        <link th:href="@{/css/user/contact.css}" rel="stylesheet">
    </th:block>
</head>
<body>
<div layout:fragment="content" class="contact-container">
    <h1>Liên hệ WomTech</h1>

    <h5>Công ty:</h5>
    <p>CÔNG TY TNHH CÔNG NGHỆ VÀ TIN HỌC WomTech</p>

    <h5>GPĐK & MST:</h5>
    <p>0300000000 - Nơi cấp: Sở KH-ĐT Tp.HCM</p>

    <h5>Văn phòng:</h5>
    <p>123 Đường ABC, Quận 1, TP.HCM, Việt Nam</p>

    <h5>Hệ thống chi nhánh:</h5>
    <ul>
        <li>Chi nhánh 1: 29 Tân Thành, P12, Q5, Tp.HCM</li>
        <li>Chi nhánh 2: 399 Xô Viết Nghệ Tĩnh, P24, Q.Bình Thạnh, Tp.HCM</li>
        <li>Chi nhánh 3: Quận 10 sắp khai trương</li>
        <li>Chi nhánh 4: Thành phố Thủ Đức</li>
    </ul>

    <h5>Hotline & Email:</h5>
    <ul>
        <li>CallCenter: 1900-8866</li>
        <li>Tư vấn & Bán hàng Showroom: Line 1</li>
        <li>Phòng kinh doanh và doanh nghiệp: Line 2</li>
        <li>Hỗ trợ kỹ thuật: Line 3</li>
        <li>Phản ánh dịch vụ: Line 0 hoặc Email: support@womtech.com</li>
    </ul>

    <h5>Thời gian hoạt động:</h5>
    <p>Thứ 2 - Thứ 7: 08:00 - 21:00</p>
    <p>Chủ Nhật, Lễ: 08:30 - 17:30</p>
    <p>(Giữ xe miễn phí trong giờ làm việc)</p>

    <h5>Bộ phận chăm sóc khách hàng</h5>
    <p>Chúng tôi luôn sẵn sàng hỗ trợ bạn về sản phẩm, dịch vụ và giải đáp thắc mắc.</p>
</div>
</body>
</html>
